@using Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>

@{
    Layout = "mainLayout.cshtml";

    Link? heroLink = Model.HeroLink;

    var heroImage = Model.HeroBgImage;

    var expQuote = Model.Value<string>("expQuote");
}


<section class="hero">
    <div class="hero-inner">

        <div class="hero-left">
            <h1>@Model.HeroTitle</h1>

            <div class="hero-text rte">
                @Html.Raw(Model.HeroText)
            </div>

            @if (heroLink != null)
            {
                <a class="btn-primary" href="@heroLink.Url">
                    @heroLink.Name
                </a>
            }
        </div>

        <div class="hero-right">
            @if (heroImage != null)
            {
                <img src="@heroImage.Url()" alt="@heroImage.Name" />
            }
        </div>

    </div>
</section>

<section class="experience">
    <div class="experience-inner">
        <p class="exp-label">@Model.ExpLabel</p>

        <h2 class="exp-title">@Model.ExpTitle</h2>

        @if (!string.IsNullOrWhiteSpace(expQuote))
		{
			<div class="exp-quote">
				@Html.Raw(expQuote)
			</div>
		}



        <div class="exp-text rte">
            @Html.Raw(Model.ExpText)
        </div>

        <div class="exp-signature">
            <div class="exp-name">@Model.ExpName</div>
            <div class="exp-role">@Model.ExpRole</div>
        </div>
    </div>
</section>

<partial name="Partials/Sections/_ServiceSection.cshtml" />

<partial name="Partials/Sections/_TrustedSuccessSection.cshtml" />

@await Html.PartialAsync("Partials/Sections/_RecentProjectsSection", Model)

